body {
	padding-top: 70px; 
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);	
	}

.navbar-brand em{
	font-family: 'VT323', monospace;
	font-size: 3rem;
	font-style: normal!important;
}
.navbar-inverse {
	background: #2c3e50df!important;
	color: white;
   }
  
.navbar-inverse .navbar-nav>li>a {
	color: white;
  } 
  
.jumbotron {
	color: #2c3e50!important;
	background: rgba(255,255,255,0.5)!important;
	  }
	
.jumbotron h1 {
	font-family: 'Monoton', cursive;
	color: rgb(40, 40, 61);
	text-align: center;
}

.jumbotron p {
	text-align: center!important;
	font-weight: 400;
	font-style: italic;
}
  
.navbar-inverse .navbar-brand, .navbar-inverse a{
	color:white!important;
  }


  ul.nav.navbar-nav{
	  float: right;
  }

  .jumbotron {
	animation-duration: 1s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%; 
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }

  body > div > div.col-lg-12.col-sm-12 > div{
	  background-color:rgba(255,255,255,0.5);
  }

  #colorChange {
	  text-align: center;
  }