body {
	padding-top: 70px; 
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);	
	}

.navbar-brand em{
	font-family: 'VT323', monospace;
	font-size: 3rem;
	font-style: normal!important;
}
.navbar-inverse {
	background: #2c3e50df!important;
	color: white;
   }
  
.navbar-inverse .navbar-nav>li>a {
	color: white;
  } 
  
.jumbotron {
	color: #2c3e50!important;
	background: rgba(255,255,255,0.5)!important;
	  }
	
.jumbotron h1 {
	font-family: 'Monoton', cursive;
	color: rgb(40, 40, 61);
	text-align: center;
}

.jumbotron p {
	text-align: center!important;
	font-weight: 400;
	font-style: italic;
}
  
.navbar-inverse .navbar-brand, .navbar-inverse a{
	color:white!important;
  }


  ul.nav.navbar-nav{
	  float: right;
  }



  body > div > div.col-lg-12.col-sm-12 > div{
	  background-color:rgba(255,255,255,0.5);
  }

.container{
	ba ckground-color: rgba(255,255,255,0.5);
}

  #colorChange {
	  text-align: center;
  }

  label{
	  font-size: 2rem;
	  padding-bottom: 2rem;
  }

  button {
    font-size: 3rem;
	border-radius: 12px;
	border-color: transparent;
	margin-left: 5px;
}

.fa {
	padding-right: 2rem;
}


  .jumbotron, .row, .col-lg-12.col-sm-12{
	animation-duration: 2s;
	animation-name: fadeIn;
  }
  
  @keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 } 

 /* .row{
	animation-duration: 2s;
	animation-delay: 1s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%; 
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  } */

  .mailButton{
		background-color: #69bcf0;
		border-radius: 12px;
		color: white;
		padding: 20px 34px;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		cursor: pointer;
		left: auto;
		right: auto;
		margin-left: 45%;
		}
  }